In [1]:
import pandas as pd

file_path = (r'C:\Users\USER\Desktop\DATA ANALYSIS\PORTFOLIO\Super store\super_store_us.xlsx')


orders_df = pd.read_excel(file_path, sheet_name='Orders')
returns_df = pd.read_excel(file_path, sheet_name='Returns')
users_df = pd.read_excel(file_path, sheet_name='Users')

orders_df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,East,New Jersey,Roselle,7203,2015-02-15,2015-02-17,-53.8096,22,211.15,90192
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-14,803.4705,16,1164.45,86838
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-24.0300,7,22.23,86838

In [8]:
returns_df.head()

   Order ID    Status
0        65  Returned
1       612  Returned
2       614  Returned
3       678  Returned
4       710  Returned

In [9]:
users_df.head()

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [10]:
print(orders_df.dtypes)
print(returns_df.dtypes)
print(users_df.dtypes)

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Country                         object
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object
Order ID     int64
Status      object
dtype: object
Region     object
Manager    object
dtype: object

In [11]:
orders_missing_values = orders_df.isnull().sum()
returns_missing_values = returns_df.isnull().sum()
users_missing_values = users_df.isnull().sum()

print(orders_missing_values)
print(returns_missing_values)
print(users_missing_values)

Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     16
Country                  0
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64
Order ID    0
Status      0
dtype: int64
Region     0
Manager    0
dtype: int64

In [12]:
orders_df['Product Base Margin'].fillna(0, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_20272\925011398.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  orders_df['Product Base Margin'].fillna(0, inplace=True)

In [13]:
orders_missing_values = orders_df.isnull().sum()
print(orders_missing_values)

Row ID                  0
Order Priority          0
Discount                0
Unit Price              0
Shipping Cost           0
Customer ID             0
Customer Name           0
Ship Mode               0
Customer Segment        0
Product Category        0
Product Sub-Category    0
Product Container       0
Product Name            0
Product Base Margin     0
Country                 0
Region                  0
State or Province       0
City                    0
Postal Code             0
Order Date              0
Ship Date               0
Profit                  0
Quantity ordered new    0
Sales                   0
Order ID                0
dtype: int64

In [14]:
import pandas as pd

orders_and_manager_df = pd.merge(orders_df, users_df[['Region', 'Manager']], on='Region', how='left')

print(orders_and_manager_df[['Order ID', 'Region', 'Manager']].head())

   Order ID   Region  Manager
0     88522     West  William
1     90193     West  William
2     90192     East     Erin
3     86838  Central    Chris
4     86838  Central    Chris

In [15]:
import pandas as pd

orders_and_manager_df['Order Duration'] = (orders_and_manager_df['Ship Date'] - orders_and_manager_df['Order Date']).dt.days

print(orders_and_manager_df[['Order ID', 'Order Date', 'Ship Date', 'Order Duration']].head())

   Order ID Order Date  Ship Date  Order Duration
0     88522 2015-01-07 2015-01-08               1
1     90193 2015-06-13 2015-06-15               2
2     90192 2015-02-15 2015-02-17               2
3     86838 2015-05-12 2015-05-14               2
4     86838 2015-05-12 2015-05-13               1

In [16]:
orders_and_manager_df.to_csv('updated_sales.csv', index=False)

In [17]:

returns_updated_df = pd.merge(orders_and_manager_df, returns_df, on='Order ID', how='inner')



print(returns_updated_df[['Order ID', 'Region', 'State or Province', 'Manager', 'Status']].head())
returns_updated_df.to_csv('returns_sheet.csv', index=False)

   Order ID Region State or Province  Manager    Status
0     13959   West        Washington  William  Returned
1     13959   West        Washington  William  Returned
2     37760   West        Washington  William  Returned
3      8353   East          New York     Erin  Returned
4     17155   West        California  William  Returned

In [18]:
import pandas as pd


updated_orders_and_returns_df = pd.merge(orders_and_manager_df, returns_df, on='Order ID', how='left')

updated_orders_and_returns_df = updated_orders_and_returns_df.fillna('Successful')

updated_orders_and_returns_df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager,Order Duration,Status
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522,William,1,Successful
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193,William,2,Successful
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,7203,2015-02-15,2015-02-17,-53.8096,22,211.15,90192,Erin,2,Successful
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,55372,2015-05-12,2015-05-14,803.4705,16,1164.45,86838,Chris,2,Successful
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,55372,2015-05-12,2015-05-13,-24.0300,7,22.23,86838,Chris,1,Successful

In [19]:
import pandas as pd

def gain_loss(profit):
    if profit < 0:
        return 'Loss'
    elif profit == 0:
        return 'None'
    else:
        return 'Gain'

updated_orders_and_returns_df['Gain/Loss'] = updated_orders_and_returns_df['Profit'].apply(gain_loss)
                                                                                    
updated_orders_and_returns_df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager,Order Duration,Status,Gain/Loss
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,2015-01-07,2015-01-08,4.5600,4,13.01,88522,William,1,Successful,Gain
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193,William,2,Successful,Gain
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,2015-02-15,2015-02-17,-53.8096,22,211.15,90192,Erin,2,Successful,Loss
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,2015-05-12,2015-05-14,803.4705,16,1164.45,86838,Chris,2,Successful,Gain
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,2015-05-12,2015-05-13,-24.0300,7,22.23,86838,Chris,1,Successful,Loss

In [20]:
updated_orders_and_returns_df.to_csv('final_sales_sheet.csv', index=False)

In [21]:
successful_orders = updated_orders_and_returns_df[updated_orders_and_returns_df['Status'] == 'Successful']

print(successful_orders)

      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0      20847           High      0.01        2.84           0.93            3
1      20228  Not Specified      0.02      500.98          26.00            5
2      21776       Critical      0.06        9.48           7.29           11
3      24844         Medium      0.09       78.69          19.99           14
4      24846         Medium      0.08        3.28           2.31           14
...      ...            ...       ...         ...            ...          ...
1947   19842           High      0.01       10.90           7.46         3397
1948   19843           High      0.10        7.99           5.03         3397
1949   26208  Not Specified      0.08       11.97           5.81         3399
1950   24911         Medium      0.10        9.38           4.93         3400
1951   25914           High      0.10      105.98          13.99         3403

          Customer Name       Ship Mode Customer Segment Product Category  \
0         Bonnie Potter     Express Air        Corporate  Office Supplies
1        Ronnie Proctor  Delivery Truck      Home Office        Furniture
2         Marcus Dunlap     Regular Air      Home Office        Furniture
3     Gwendolyn F Tyson     Regular Air   Small Business        Furniture
4     Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies
...                 ...             ...              ...              ...
1947        Andrea Shaw     Regular Air   Small Business  Office Supplies
1948        Andrea Shaw     Regular Air   Small Business       Technology
1949        Marvin Reid     Regular Air   Small Business  Office Supplies
1950      Florence Gold     Express Air   Small Business        Furniture
1951      Tammy Buckley     Express Air         Consumer        Furniture

      ... Order Date  Ship Date     Profit  Quantity ordered new    Sales  \
0     ... 2015-01-07 2015-01-08     4.5600                     4    13.01
1     ... 2015-06-13 2015-06-15  4390.3665                    12  6362.85
2     ... 2015-02-15 2015-02-17   -53.8096                    22   211.15
3     ... 2015-05-12 2015-05-14   803.4705                    16  1164.45
4     ... 2015-05-12 2015-05-13   -24.0300                     7    22.23
...   ...        ...        ...        ...                   ...      ...
1947  ... 2015-03-11 2015-03-12  -116.7600                    18   207.31
1948  ... 2015-03-11 2015-03-12  -160.9520                    22   143.12
1949  ... 2015-03-29 2015-03-31   -41.8700                     5    59.98
1950  ... 2015-04-04 2015-04-04   -24.7104                    15   135.78
1951  ... 2015-02-08 2015-02-11   349.4850                     5   506.50

     Order ID  Manager Order Duration      Status Gain/Loss
0       88522  William              1  Successful      Gain
1       90193  William              2  Successful      Gain
2       90192     Erin              2  Successful      Loss
3       86838    Chris              2  Successful      Gain
4       86838    Chris              1  Successful      Loss
...       ...      ...            ...         ...       ...
1947    87536    Chris              1  Successful      Loss
1948    87536    Chris              1  Successful      Loss
1949    87534    Chris              2  Successful      Loss
1950    87537     Erin              0  Successful      Loss
1951    87530  William              3  Successful      Gain

[1937 rows x 29 columns]

In [22]:
successful_orders.to_csv('successful_orders.csv', index=False)

In [23]:
print(successful_orders)

      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0      20847           High      0.01        2.84           0.93            3
1      20228  Not Specified      0.02      500.98          26.00            5
2      21776       Critical      0.06        9.48           7.29           11
3      24844         Medium      0.09       78.69          19.99           14
4      24846         Medium      0.08        3.28           2.31           14
...      ...            ...       ...         ...            ...          ...
1947   19842           High      0.01       10.90           7.46         3397
1948   19843           High      0.10        7.99           5.03         3397
1949   26208  Not Specified      0.08       11.97           5.81         3399
1950   24911         Medium      0.10        9.38           4.93         3400
1951   25914           High      0.10      105.98          13.99         3403

          Customer Name       Ship Mode Customer Segment Product Category  \
0         Bonnie Potter     Express Air        Corporate  Office Supplies
1        Ronnie Proctor  Delivery Truck      Home Office        Furniture
2         Marcus Dunlap     Regular Air      Home Office        Furniture
3     Gwendolyn F Tyson     Regular Air   Small Business        Furniture
4     Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies
...                 ...             ...              ...              ...
1947        Andrea Shaw     Regular Air   Small Business  Office Supplies
1948        Andrea Shaw     Regular Air   Small Business       Technology
1949        Marvin Reid     Regular Air   Small Business  Office Supplies
1950      Florence Gold     Express Air   Small Business        Furniture
1951      Tammy Buckley     Express Air         Consumer        Furniture

      ... Order Date  Ship Date     Profit  Quantity ordered new    Sales  \
0     ... 2015-01-07 2015-01-08     4.5600                     4    13.01
1     ... 2015-06-13 2015-06-15  4390.3665                    12  6362.85
2     ... 2015-02-15 2015-02-17   -53.8096                    22   211.15
3     ... 2015-05-12 2015-05-14   803.4705                    16  1164.45
4     ... 2015-05-12 2015-05-13   -24.0300                     7    22.23
...   ...        ...        ...        ...                   ...      ...
1947  ... 2015-03-11 2015-03-12  -116.7600                    18   207.31
1948  ... 2015-03-11 2015-03-12  -160.9520                    22   143.12
1949  ... 2015-03-29 2015-03-31   -41.8700                     5    59.98
1950  ... 2015-04-04 2015-04-04   -24.7104                    15   135.78
1951  ... 2015-02-08 2015-02-11   349.4850                     5   506.50

     Order ID  Manager Order Duration      Status Gain/Loss
0       88522  William              1  Successful      Gain
1       90193  William              2  Successful      Gain
2       90192     Erin              2  Successful      Loss
3       86838    Chris              2  Successful      Gain
4       86838    Chris              1  Successful      Loss
...       ...      ...            ...         ...       ...
1947    87536    Chris              1  Successful      Loss
1948    87536    Chris              1  Successful      Loss
1949    87534    Chris              2  Successful      Loss
1950    87537     Erin              0  Successful      Loss
1951    87530  William              3  Successful      Gain

[1937 rows x 29 columns]